
.banner-text {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.book-btn a {
    background: #e75b1e;
    border: 3px solid #e75b1e;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.hvr-underline-from-center{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center::before {
    background: #f04900;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: red;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.book-btn a {
    background: #e75b1e;
    border: 3px solid #e75b1e;
}
a {
    color: #1f1f1f;
    text-decoration: none;
    outline: none !important;
}
a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
body {
    color: #686868;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.80857;
}
a {
    background-color: transparent;
}
.pad-top-100 {
    padding-top: 90px;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
.banner-cell .mouse {
    width: calc(16px * 4);
    height: calc(31px * 4);
    margin: 70px auto 0px;
    background: none;
    border: 2px solid white;
    border-radius: calc(16px * 4);
}


.block-title {
     color: #e75b1e;
     @media (max-width: 1120px);
}
.block-title {
    font-size: 52px;
    font-family: 'nautilus_pompiliusregular';
    font-weight: bold;
}

.socials-box {
    display: table-cell;
    vertical-align: middle;
    margin: 1px 0px;
    padding: 4px;
}
.footer-socials {
    margin: 10px 0;
    line-height: 30px;
    padding: 4px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
ul, li, ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.pull-left {
    float: left !important;
}
.about-images img {
    border: 10px solid #f1f1f1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    max-width: 100%;
}


.about-main {
    background: #f1f0f0;
}
img {
    border: 0;
}
img {
    vertical-align:middle;
}

about-images {
    text-align: center;
    position: relative;
 
}

@media (min-width: 992px){
.col-md-6 
    width: 50%;
  
}
@media (min-width: 992px){
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 
    float: left;
   
}
@media (min-width: 768px){
.col-sm-12 
    width: 100%;
}
@media (min-width: 768px){

.col-xs-12 
    width: 100%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.special-menu {
background: url(../images/special_menu_bg.jpg) no-repeat center;
background-attachment: fixed;
background-size: cover;
position: relative;
}
.pad-top-100 {
padding-top: 90px;
}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}


.special-menu:before {
content: '';
display: inline-block;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.67);
position: absolute;
top: 0;
left: 0;
}
*:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
*:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.item-type-zoom .item-hover:hover {
    opacity: 1;
}
.item-type-zoom .item-hover {
    z-index: 5;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    text-align: center;
}
a:active, a:hover {
    outline: 0;
}
div {
    display: block;
    justify-content: space-between;
}
a:hover, a:focus {
    color: #23527c;
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0;
}
.item-hover, .item-hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
a .btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
a {
    color: #1f1f1f;
    text-decoration: none;
    outline: none !important;
}
a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
a {
    background-color: transparent;
}
a {
    color: #337ab7;
    text-decoration: none;
}
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
item-type-zoom .item-info .line {
    height: 1px;
    width: 60%;
    margin: 15px auto 10px auto;
    background-color: #ffffff;
}

.owl-carousel {
    display: none;
    position: relative; justify-content: space-between;
    width: 100%;
    -ms-touch-action: pan-y;
}
owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
item-type-zoom {
    border: 4px solid #fff;
}
#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

.item-type-zoom {
    border: 4px solid #fff;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}


.item-type-zoom .item-info .headline {
    font-size: 18px;
    width: 75%;
    margin: 0 auto;
    border: 4px solid #ffffff;
    padding: 10px;
}

element.style {
    width: 313px;
}
#owl-demo .item {
    margin: 15px;
    position: relative;
}
.item-type-zoom {
    border: 4px solid #fff;
}
.owl-carousel .owl-item {
    float: left;
}
.item-hover, .item-hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.about-inset {
    position: absolute;
    top: 0;
    right: 0;
}
.about-images {
    text-align: center;
    position: relative;
}

